
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

/* Cabeçalho e Navegação */
header {
  background-color: #4b0082;
  padding: 20px;
  text-align: center;
  color: white;
}

nav {
  margin-top: 15px;
  text-align: center;
}

nav button {
  background-color: #800080;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

nav button:hover {
  background-color: #4b0082;
}

/* Imagem principal */
img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

/* Seções */
main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2, h3 {
  color: #4b0082;
  text-align: center;
}

section {
  margin-bottom: 40px;
}

p {
  text-align: justify;
  line-height: 1.6;
}

/* Footer */
footer {
  background-color: #4b0082;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer ul li a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  main {
	padding: 10px;
  }

  nav button {
	font-size: 14px;
	padding: 8px 16px;
  }
}
